.coordinators-container {
    text-align: center;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  