body {
  background-size: cover;
  background-repeat: no-repeat;
}

.social-container {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-form button.post-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.post-form button.post-btn:hover {
  background-color: #0056b3;
}

.post-list {
  list-style: none;
  
  padding: 0;
}

.post-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  border-bottom: 1px solid #ccc; /* Add a border to create a line between items */
}


.post-username {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  margin-bottom: 10px;
}

.delete-post-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-post-btn:hover {
  background-color: #c82333;
}

.go-back-btn {
  background-color: #6c757d;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-back-btn:hover {
  background-color: #5a6268;
}

.posts-back{
  text-align: end;
  display: inline-block; /* Display as inline block to fit content */
  padding: 8px 8px; /* Reduced padding for the button */
  color: black;
  padding-top: 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  margin-right: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.posts-back:hover{
  color: black;
  text-decoration: underline;
}